<%= form_for @safety_report, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :report_title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :report_title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :report_description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :report_description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :report_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :report_date, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :incident_location, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :incident_location, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hazard_category, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :hazard_category, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :damage_category, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :damage_category, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :third_party_type, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :third_party_type, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :third_party_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :third_party_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :risk_probability, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :risk_probability, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :risk_consequense, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :risk_consequense, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :risk_level, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :risk_level, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :reported_by, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :reported_by, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :download_report, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :download_report, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :attachment, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :attachment, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  safety_reports_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
