<%- model_class = SafetyReport -%>
<div class="page-header">
  <h1><%=t '.title', :default => SafetyReport %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:report_title) %></th>
      <th><%= model_class.human_attribute_name(:report_description) %></th>
      <th><%= model_class.human_attribute_name(:report_date) %></th>
      <th><%= model_class.human_attribute_name(:incident_location) %></th>
      <th><%= model_class.human_attribute_name(:hazard_category) %></th>
      <th><%= model_class.human_attribute_name(:damage_category) %></th>
      <th><%= model_class.human_attribute_name(:third_party_type) %></th>
      <th><%= model_class.human_attribute_name(:third_party_name) %></th>
      <th><%= model_class.human_attribute_name(:risk_probability) %></th>
      <th><%= model_class.human_attribute_name(:risk_consequense) %></th>
      <th><%= model_class.human_attribute_name(:risk_level) %></th>
      <th><%= model_class.human_attribute_name(:reported_by) %></th>
      <th><%= model_class.human_attribute_name(:download_report) %></th>
      <th><%= model_class.human_attribute_name(:attachment) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @safety_reports.each do |safety_report| %>
      <tr>
        <td><%= safety_report.id %></td>
        <td><%= safety_report.report_title %></td>
        <td><%= safety_report.report_description %></td>
        <td><%= safety_report.report_date %></td>
        <td><%= safety_report.incident_location %></td>
        <td><%= safety_report.hazard_category %></td>
        <td><%= safety_report.damage_category %></td>
        <td><%= safety_report.third_party_type %></td>
        <td><%= safety_report.third_party_name %></td>
        <td><%= safety_report.risk_probability %></td>
        <td><%= safety_report.risk_consequense %></td>
        <td><%= safety_report.risk_level %></td>
        <td><%= safety_report.reported_by %></td>
        <td><%= safety_report.download_report %></td>
        <td><%= safety_report.attachment %></td>
        <td><%=l safety_report.created_at, format: :long %></td>
        <td>
          <%= link_to safety_report_path(safety_report), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to safety_report_path(safety_report), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_safety_report_path,
            :class => 'btn btn-primary' %>
