<%= form_for @risk_assessement, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :probability_risk, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :probability_risk, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :consequense_risk, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :consequense_risk, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :risk_level, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :risk_level, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  risk_assessements_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
