<p id="notice"><%= notice %></p>

<p>
  <strong>Probability risk:</strong>
  <%= @risk_assessement.probability_risk %>
</p>

<p>
  <strong>Consequense risk:</strong>
  <%= @risk_assessement.consequense_risk %>
</p>

<p>
  <strong>Risk level:</strong>
  <%= @risk_assessement.risk_level %>
</p>

<p>
  <strong>Task:</strong>
  <%= @risk_assessement.task %>
</p>

<p>
  <strong>Safety report:</strong>
  <%= @risk_assessement.safety_report %>
</p>

<%= link_to 'Edit', edit_risk_assessement_path(@risk_assessement) %> |
<%= link_to 'Back', risk_assessements_path %>
